<div class="app-layout">
  <igx-nav-drawer [isOpen]="true" [pin]="true" [pinThreshold]="0">
    <ng-template igxDrawer>
      <div class="drawer-content">
        <nav>
          <span igxDrawerItem routerLink="/collect-data" igxRipple>
            <span>Всички данни</span>
          </span>
        </nav>

        <div class="child-search">
          <h4>Търсене на дете</h4>
          <igx-simple-combo
            [data]="dataService.uniqueChildren()"
            [displayKey]="'label'"
            [valueKey]="'childNum'"
            [disabled]="dataService.loading()"
            placeholder="Изберете дете"
            (selectionChanging)="onChildSelected($event)">
          </igx-simple-combo>
        </div>

        @if (wishes().length > 0) {
          <div class="wishes-list">
            <h4>Желания за дете {{ selectedChildNum() }}</h4>
            @for (wish of wishes(); track wish.schoolId; let i = $index) {
              <div class="wish-item">
                <span class="wish-order">{{ i + 1 }}.</span>
                <span class="wish-school">{{ wish.schoolName }}</span>
                <div class="wish-actions">
                  <button igxIconButton="flat" (click)="moveUp(i)" [disabled]="i === 0">
                    <igx-icon>arrow_upward</igx-icon>
                  </button>
                  <button igxIconButton="flat" (click)="moveDown(i)" [disabled]="i === wishes().length - 1">
                    <igx-icon>arrow_downward</igx-icon>
                  </button>
                </div>
              </div>
            }
            <button igxButton="raised" igxRipple (click)="recalculate()" class="recalc-btn">
              Пресмятане
            </button>
          </div>
        }
      </div>
    </ng-template>
  </igx-nav-drawer>

  <div class="app-content">
    <router-outlet />
  </div>
</div>
